*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(90deg, #ec4438, #f3a183);
}
h1 {
    text-align: center;
    margin: 25px;
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
}
#number {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background: #ffffff96;
    font-size: 1rem;
}
#submit {
    padding: 10px;
    margin-left: 10px;
    background-image: linear-gradient(45deg,#f50303,#fffc00);
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 0px 0px 7px white;
    border: 2px solid black;
    border-radius: 10px;
}
#submit:hover{
    background-image: linear-gradient(45deg,#fffc00,#f50303);
    border-style: dashed;
}
#fiboseries {
    color: white;
    font-size: 22px;
    padding: 10px 40px;
    text-align: center; 
}
h3 {
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f4433694;
    text-align: center;
    font-weight: bold;
    padding: 6px 0px;
    margin-top: 5px;
}